*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --BG-color: #F6F7FB;
    --azul: #3498DB;
    --cinza: #ededed;
    --branco: #ffffff;
}

body{
    background-color: var(--BG-color);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 300px;
    display: flex;
    flex-direction: column;
}

.container-steps{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: -6%;
}

.step{
    background-color: var(--branco);
    border-radius: 2px;
    padding: 8px;
    font-size: 14px;
    border: 3px solid var(--cinza);
}

.step.active{
    border: 3px solid var(--azul);
    transition: .5s;
}

.container::before{
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--cinza);
}

.line-through{
    height: 4px;
    width: 0%;
    background-color: var(--azul);
    transition: .5s ease-in;
}

.container-btn{
    display: flex;
    justify-content: center;
}

.btn{
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    background-color: var(--azul);
    color: var(--branco);
    font-size: 15px;
    cursor: pointer;
    transition: .5s;
}

.btn:not(#next){
    margin-right: 30px;
}

.disabled{
    cursor: not-allowed;
    background-color: var(--cinza);
    color: #8a6a6a;
}